/* shared styles */
body{
    font-family: 'Lato', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #fff;
    font-size: 20px;
}

/* header styles */
.header {
    background-color: rgba(229, 84, 115, 0.1);
    padding: 50px 240px;
    height: 800px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.header-image{
    height: 800px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* section styles, common */
section{
    margin: 40px 20px;
}

.section-intro{
    text-align: center;
}

.intro-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.intro-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.section-cards{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.card-container{
    text-align: center;
}

.curbed-card{
    width: 464px;
    max-height: 538px;
    flex-shrink: 0;
}